/* first banner */

.container{
 font-family: 'Merriweather', serif;
 width: 1300px;
 height: 600px;
 margin: 0 auto;
 text-align: center;
 border-radius: 26px;
 background-image:linear-gradient( to top,rgba(0.50,0,0,0),rgba(0.50,0,0,1)),url(../images/Banner\ Image.png);
 
}
.container > h4 {

 padding-top:227px ;
 font-size: 32px;
 font-weight: 400;
 color: #fff;
}

.container >h1{

 font-size: 72px;
 font-weight: 900;
 color: #fff;
 margin-top: 16px;

}
/* second step */

.container-1{
 text-align: center;
}
.container-1 >h1{
 font-size: 88px;
 font-weight: 700;
 color: #F00;
}

.container-1 >h5{
font-size: 24px  ;
font-weight: 500;
color: #F00;
}

.container-1 >h4{
 font-family: 'Inter', sans-serif;
 font-size:40px ;
font-weight:700 ;
color: #070211;
}
.container-1 img{
 width: 802.9px;
height: 500px;
}

/* third step */

.container-2{
 display: flex;
 justify-content: space-between;
 height:600px ;
 width:1320px ;
 margin: 120px auto;
 border-radius: 16px;
 background-image: linear-gradient(to left,rgba(0.50,0,0,0),rgba(0.50,0,0,3)),url(../images/Vectorrr.png);
}


.container-2>.text-1>h1{

 font-size: 64px ;
 font-weight:900 ;
 color: #FFF;
 font-family: 'Merriweather', serif;

}

.container-2 > .text-1 > p{
 
 font-size: 18px;
 font-weight: 400;
 color:  rgba(255, 255, 255, 0.80);
 font-family: 'Inter', sans-serif;
}
.container-2 > .text-1 > h6{
 font-family: 'Inter', sans-serif;
 font-size: 20px;
 font-weight: 700;
 color:#FFF;
 text-transform: uppercase;

}
.text-1{
 padding: 126px 0 0 126px;
 align-items: center;
}

.container-2 >.img-1{

 padding: 68.11px 138px 0 0;

}

/* fourth step */

.container-3{

 width: 1320px;
 height: 482px;
 background-image: linear-gradient(to bottom right, rgba(255, 0, 0, 0.10) , rgba(255, 0, 0, 0.00));
 margin: 0 auto;
 border-radius: 16px;
 text-align: center;
 font-family: 'Inter', sans-serif;
}

.text-2 > h4> span{

 color: #F00;
 font-size: 32px;
 font-weight: 600;
 
}
.text-2 > h4{

 color: #070211;
 font-size: 32px;
 font-weight:600 ;

}

.text-2{

 padding-top: 100px;
}

.btn{
 font-size: 20px;
 font-weight: 700;
 color:#FFF ;
 height:56px ;
 width: 167px;
 background-color: #F00;
 border-radius: 18px;
 border: none ;
 cursor: pointer;
 font-family: 'Inter', sans-serif;
}

/* fifth step */

.container-4{

 width: 1320px;
 height: 700px;
 background-color: #FFF;
 margin: 120px auto;
}

.img-2 {

height:424px ;
width: 450px ;
display: flex;
gap: 20px;
border-radius: 16px;
cursor: pointer;

}

.img-3{

 height:424px ;
 width: 450px ;
 display: flex;
 gap: 24px;
 margin-top: 24px;
 border-radius: 16px;
 cursor: pointer;
 
}

.text-3 > h4{
  
 font-size: 24px;
 font-weight: 400;
 color: #F00;
 font-family: 'Inter', sans-serif;
}

.text-3 > h3{

 font-size:48 ;
 font-weight: 900;
 color:#070211 ;
 font-family: 'Merriweather', serif;
}

.text-3> p{
 font-size: 20px;
 font-weight: 400 ;
 color: rgba(7, 2, 17, 0.60);
 font-family: 'Inter', sans-serif;
 margin-bottom: 48px;

}

.img-2 :hover{

 border:8px solid rgba(10, 169, 164, 0.465);
 border-radius: 22px;
 box-shadow: #070211;
}

.img-3 :hover{

 border:8px solid rgba(169, 10, 116, 0.333);
 border-radius: 22px;
 box-shadow: #070211;
}





