/* first banner */

.container{
 font-family: 'Merriweather', serif;
 width: 1300px;
 height: 600px;
 margin: 0 auto;
 text-align: center;
 border-radius: 26px;
 background-image:linear-gradient( to top,rgba(0.50,0,0,0),rgba(0.50,0,0,1)),url(../images/Banner\ Image.png);
 
}
.container > h4 {

 padding-top:227px ;
 font-size: 32px;
 font-weight: 400;
 color: #fff;
}

.container >h1{

 font-size: 72px;
 font-weight: 900;
 color: #fff;
 margin-top: 16px;

}
/* second step */

.container-1{
 text-align: center;
}
.container-1 >h1{
 font-size: 88px;
 font-weight: 700;
 color: #F00;
}

.container-1 >h5{
font-size: 24px  ;
font-weight: 500;
color: #F00;
}

.container-1 >h4{
 font-family: 'Inter', sans-serif;
 font-size:40px ;
font-weight:700 ;
color: #070211;
margin-top: 0;
}
.container-1 img{
 width: 802.9px;
height: 500px;
}





